@if (!isLoginRoute()) {
  <div class="flex min-h-screen relative bg-[#fbfbfa]">

    <app-dock />

    <div class="flex-grow flex flex-col min-h-screen min-w-0">
      <main class="relative flex-grow bg-linear-to-b from-[#fbfbfa] via-[#f7f5f0] to-[#f4eedb] text-slate-900 flex flex-col justify-between">
        <div class="flex-grow pb-20 md:pb-24">
          <router-outlet />
        </div>
        <app-footer />
      </main>
    </div>

  </div>
} @else {
  <main class="relative min-h-screen bg-slate-950 text-slate-900">
    <router-outlet />
  </main>
}

<app-loader />

@if (authService.isAuthModalOpen()) {
  <app-auth-modal (close)="closeAuthModal()" />
}
